<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="icon" type="image/x-icon" href="/assets/icon/logo_x32.ico?v=1"> 
<link rel="stylesheet" href="/fontawesome/css/all.min.css"> 
<title><%= title %> - DesignDrop</title>
<link rel="stylesheet" href="/css/global.css?v=1">