<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/htmlHead', {title: 'Settings'}) %>
    <link rel="stylesheet" href="/css/sellerDashboard.css?v=1">
</head>
<body>
    <%- include('navbar', { user: user, currentPath: currentPath }) %>

    <div class="dashboard-content"></div>
</body>
</html>