<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/htmlHead', {title: 'Login'}) %>
    <link rel="stylesheet" href="/css/login.css?v=1">
</head>
<body>
    <div class="bg-layer">
        <img src="/assets/images/login-reg-bg.webp" alt="">
    </div>
    <div class="login-parent-container">
        <div class="login-form-container">
            <div class="form-header-container">
                <span class="form-header">Login</span>
            </div>

            <div class="error-msg-container">
                <% if (error.length > 0) {%>
                    <span class="error-msg"><%= error[0] %></span>
                <% } else if (success.length > 0) {%>
                    <span class="success-msg"><%= success[0] %></span>
                <% } %>
            </div>

            <form action="/login" method="post" class="login-form">
                <input type="text" name="email" id="email" placeholder="Email" class="form-input" autocomplete="off" required>
                <input type="password" name="password" id="password" placeholder="Password" class="form-input" autocomplete="off" required>
                <button type="submit" class="login-btn">Login</button>
            </form>

            <div class="register-redirect">
                <span>No account?: <a href="/register" class="register-redirect-link">Register</a></span>
            </div>
        </div>            
    </div>    
</body>
</html>