body {    
    background-image: url('../assets/images/login-reg-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    width: 275px;
    height: 300px;
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 20px auto 25px; 
    animation: slideDown 0.5s ease-out;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.form-header-container {
    display: flex;
    align-items: center;
}

.form-header {
    cursor: default;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.error-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg {
    color: var(--error);
    font-size: 13px;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.form-input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 14px;
}

.register-btn {
    cursor: pointer;
    margin-top: 5px;
    padding: 3px 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.4s ease;
}

.register-btn:hover {
    background-color: var(--hover);
    color: var(--text-main);
}

.login-redirect {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 8px;
}

.login-redirect-link, .login-redirect-link:visited {
    color: var(--text-main);
    text-decoration: underline transparent 1px;
    transition: ease 0.4s;
}

.login-redirect-link:hover {
    color: var(--hover);
    text-decoration-color: var(--hover);
}